<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Account</title>
</head>

<body>

<script src="account.js"></script>

<h1>Здравствуйте, <a id="user"></a></h1>

<form>
    <table>
		<tr>
			<td>
                <select name="brand">
                    {% for brand in brands %}
                        <option value="{{brand}}">
                            {{ brand }}
                        </option>
                    {% endfor %}
                </select>
                <select name="model">
                    <option value="All">Все</option>
                    {% for model in models %}
                        <option value="{{model}}">{{model}}</option>
                    {% endfor %}
                </select>
            </td>
		</tr>
        <tr>
			<td>
                <select name="city">
                    {% for city in cities %}
                        <option value="{{city}}">{{city}}</option>
                    {% endfor %}
                </select>
            </td>
		</tr>
        <tr>
            <td>Цена:
                <input type="number" placeholder="от" name="price_from">
                <input type="number" placeholder="до" name="price_to">
            </td>
        </tr>

        <tr>
            <td>
                <button type="submit">Найти</button>
            </td>
        </tr>
	</table>
</form>

</body>
</html>