@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Flex:opsz@8..144&family=Roboto+Mono&family=Roboto:wght@400;900&family=Saira&display=swap');


* {
    margin:0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.header {
    position: relative;
}

.container {
    width: 1315px;
    height: 46px;
    margin: 26px auto;
    display: flex;
    justify-content: space-between;
    background-color: #000;
}

.search_acc {
    margin-left: px;
    display: flex;
    align-items: center;
}

.logo {
    margin-top: 10px;
    margin-left: 16px;
    width: 429px;
    height: 68px;
    flex-shrink: 0;
}

.logo a {
    color: #FFF;
    text-align: right;
    font-family: Saira;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 52.5% */
}

.search {
    position: relative;
    display: flex;
}

.search1 {
    width: 482.121px;
    height: 43px;
    flex-shrink: 0;
    border: 1px solid #DDD;
}

a.search-icon {
    position: absolute;
    width: 30px;
    height: 29px;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.acc {
    margin-bottom: 5px;
}

.account-icon {
    width: 39px;
    height: 35px;
    margin-left: 49px;
    position: relative;
    top: 6px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000; 
}

.white-block {
    background-color: #fff; 
    width: 1440px;
    height: 780px;
    margin: 0 auto; 
}

.login {
    color: #FFF;
    text-align: right;
    font-family: Saira;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 116.667% */
    margin-left: 42px;
}

.return {
    color: #000;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    display: inline-block;
    margin-top: 42px;
    margin-left: 37px;
}

.return::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 1px;
    background: #000;
    transition: width 0.3s ease;
    display: block; /* Добавлено */
}

.return:hover::after {
    width: 204px;
}

.avatar_buttons {
    display: flex;
}

.avatar {
    margin-top: 160px;
    margin-left: 305px;
}

.grayblock {
    position: relative;
    width: 265px;
    height: 248px;
    background: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    display: flex;
    margin-top: 17px;
    color: #000;
    font-family: 'Saira', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    justify-content: center;
    align-items: center;
}

a[type="link_button"] {
    color: #FFF;
    font-family: 'Saira', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #000;
    width: 463px;
    height: 46px;
    position: relative;
    margin-top: 54.8px;
    margin-left: 111px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    margin-top: 106px;
}

.avatar_edit {
    position: absolute;
    display: flex;
    margin-top: -30px;
    margin-left: 68px;
    color: #000;
    font-family: 'Saira', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}

.forms {
    margin-left: 42px;
    margin-top: 210px;
}


.desc {
    margin-top: 17px;
    color: #000;
    font-family: 'Saira', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form {
    width: 214px;
    height: 20px;
    background: #D9D9D9;
    margin-top: 20px;
    margin-left: 30px;
}

.log, .currentpassword, .newpassword, .confirmpassword {
    display: flex;
}

[name="login"] {
    margin-left: 198px;
}

[name="currentpassword"] {
    margin-left: 121px;
}

[name="newpassword"] {
    margin-left: 136px;
}

[name="confirmpassword"] {
    margin-left: 14px;
}

a[type="savechanges"] {
    color: #FFF;
    font-family: 'Saira', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #000;
    width: 249px;
    height: 39px;
    position: relative;
    margin-top: 72px;
    margin-left: 538px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footeracc {
    display: flex;
    align-items: center;
    width: 1440px;
    height: 177px;
    background: #000;
    margin-top: 240px;
}

#footereditacc {
    display: flex;
    align-items: center;
    width: 1440px;
    height: 177px;
    background: #000;
    margin-top: 171px;
}

.footer__info {
    margin-left: 54px;
    display: flex;
    margin-top: 0px;
}


.footer__boldtext {
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    display: block;
}

.projects_contacts {
    margin-left: 80px;
}

[name="press-center"].footer__boldtext, [name="contacts"].footer__boldtext {
    margin-top: 14px;
}

.footer__regulartext {
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: block;
    margin-top: 16px;
}

.number_mail {
    margin-top: -16px;
    margin-left: 80px;
}

.subscribe__input {
    margin-bottom: 57px;
    width: 280px;
    height: 33px;
    background: #FFF;
}

.subscribe {
    margin-left: 540px;
    margin-top: 64px;
}

.send-icon {
    margin-left: -29px;
    background: none;
    border: none;
}

input, select {
    border: none;
    outline: none;
}

.logout-button {
    color: #FFF;
    font-family: 'Saira', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #000;
    width: 463px;
    height: 46px;
    position: relative;
    margin-top: 54.8px;
    margin-left: 111px;
    display: flex;
    align-items: center;
    justify-content: center;
}