@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Flex:opsz@8..144&family=Roboto:wght@400;900&family=Saira&display=swap');

* {
    margin:0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.header {
    position: relative;
}

.container {
    width: 1315px;
    height: 46px;
    margin: 26px auto;
    display: flex;
    justify-content: space-between;
    background-color: #000;
}

.search_acc {
    margin-left: px;
    display: flex;
    align-items: center;
}

.logo {
    margin-top: 10px;
    margin-left: 16px;
    width: 429px;
    height: 68px;
    flex-shrink: 0;
}

.logo a {
    color: #FFF;
    text-align: right;
    font-family: Saira;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 52.5% */
}

.search {
    position: relative;
    display: flex;
}

.search1 {
    width: 482.121px;
    height: 43px;
    flex-shrink: 0;
    border: 1px solid #DDD;
}

a.search-icon {
    position: absolute;
    width: 30px;
    height: 29px;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.acc {
    margin-bottom: 5px;
}

.account-icon {
    width: 39px;
    height: 35px;
    margin-left: 49px;
    position: relative;
    top: 6px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000; 
}

.white-block {
    background-color: #fff; 
    width: 1440px;
    height: 780px;
    margin: 0 auto; 
}

.login {
    color: #FFF;
    text-align: right;
    font-family: Saira;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 116.667% */
    margin-left: 42px;
}

.return {
    color: #000;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    display: inline-block;
    margin-top: 42px;
    margin-left: 37px;
}

.return::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 1px;
    background: #000;
    transition: width 0.3s ease;
    display: block; /* Добавлено */
}

.return:hover::after {
    width: 204px;
}

#loginForm {
    width: 877px;
    height: 429px;
    background-color: #000;
    margin-top: 118px;
    margin-left: 281px;
}

#registrationForm {
    width: 877px;
    height: 540px;
    background-color: #000;
    margin-top: 68px;
    margin-left: 281px;
}

.fils {
    margin-left: 30px;
}

td {
    display: block;
}

.buttons {
    display: flex;
    margin-left: 29px;
    margin-top: 80px;
}

.login_text {
    margin-top: 16px;
    color: #FFF;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 95.455% */
}

[name="login"], [name="password"], [name="nickname"], [name="password2"] {
    margin-top: 21px;
    width: 796px;
    height: 41px;
    background: #FFF;
}

.password_text {
    margin-top: 53px;
    color: #FFF;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 95.455% */
}

#sublog {
    margin-top: -6px;
    width: 213px;
    height: 38px;
    color: #000;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 95.455% */
    background: #FFF;
}

#subreg {
    margin-top: 38px;
    width: 234px;
    height: 38px;
    color: #000;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 95.455% */
    background: #FFF;
}

#reg {
    margin-left: 289px;
    color: #FFF;
    text-align: right;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 95.455% */
    position: relative;
}

#reg::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 1px;
    background: #FFF;
    transition: width 0.3s ease;
}

#reg:hover::after {
    width: 214px;
}

#footerlog {
    display: flex;
    align-items: center;
    width: 1440px;
    height: 177px;
    background: #000;
    margin-top: 167px;
}

#footerreg {
    display: flex;
    align-items: center;
    width: 1440px;
    height: 177px;
    background: #000;
    margin-top: 86px;
}

.footer__info {
    margin-left: 54px;
    display: flex;
    margin-top: 18px;
}


.footer__boldtext {
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    display: block;
}

.projects_contacts {
    margin-left: 80px;
}

[name="press-center"].footer__boldtext, [name="contacts"].footer__boldtext {
    margin-top: 14px;
}

.footer__regulartext {
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: block;
    margin-top: 16px;
}

.number_mail {
    margin-top: -16px;
    margin-left: 80px;
}

.subscribe__input {
    margin-bottom: 57px;
    width: 280px;
    height: 33px;
    background: #FFF;
}

.subscribe {
    margin-left: 540px;
    margin-top: 64px;
}

.send-icon {
    margin-left: -29px;
    background: none;
    border: none;
}

input, select {
    border: none;
    outline: none;
}

#error {
    margin-left: 320px;
}